h1 {
    color: teal;
}

a {
    background-color: green;
}

.contact-info-link {
    color: tomato;
}

#contact-info-header {
    color: midnightblue;
}

#featured-profile-image {
    border-color: chartreuse; border-radius: 50%
}
