h1 {
    color: teal;
}

a {
    background-color: green;
}

.container {
    color: tomato;
}

#main-bio {
    color: blue:
}

#contact-info {
    color: midnightblue;
}

#bio-image {
    border-color: chartreuse; border-radius: 50%
}
